body{
  background-color: black;
  margin: 0;
  padding: 0;
}
.head{
  color: white;
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
}
.moves-button{
  border: 3px solid white;
  background-color: transparent;
  margin-left: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: 
    all 0.5s ease-in-out, 
    box-shadow 0.5s ease,
    transform 0.5s ease;
}
.moves-button:hover {
  box-shadow: 2px 2px 10px rgb(246, 246, 113);
  transform: scale(1.2);
}
.move-icon{
  width: 50px;
}

.js-score-result{
  margin-top: 60px;
  font-size: 19px;
  font-weight: 600;
  color: white;
  font-family: Arial;
}
.js-score-button{
  color: white;
  font-family: Arial;
  margin-top: 60px;
}
.js-score-move{
   color: white;
   font-family: Arial;
   margin-top: 60px;
}
.restart{
  padding: 8px 20px;
  /* margin-left: 90px; */
  width: 150px;
  cursor: pointer;
  font-family: Arial;
}
.auto-play{
  padding: 8px 20px;
  margin-left: 5px;
  width: 150px;
  cursor: pointer;
  font-family: Arial;  
}